<section class ="property-binding">
    <article>
        <h3>Interpolation / Interpolação </h3>
        <p>String renderizada com interpolation {{ url}}</p>
        <p>O resultado de 1 + 1 é {{ 1 + 1 }}</p>
        <p>O resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
        <img [src]="urlimg" [alt]="altimg"/>
    </article>

    <article>
        <h3>Class e Style bindings </h3>
        <div>
            Selecione uma Classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-danger">Erro</option>
            </select> 
            <br><br>            
            <div class="alert {{classe.value}}" role="alert"> 
                Texto colorido
            </div>
            <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
                Sucesso
            </div>

            <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
                Info
            </div>

            <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
                Warning
            </div>

            <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
                Erro
            </div>
            <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                Texto aparece em baixo do erro
            </div>
        </div>
    </article>
</section>

<section>
    <article>
        <h3>Event binding</h3>
        <div> 
            <button (click)="onClick()">Me clique!</button>

            <br><br>

            <input type="text" 
            (keyup)="onKeyup($event)" 
            (keyup.enter)="onSave(campo.value)" 
            (blur)="onSave(campo.value)" 
            #campo
            />
            <div>Conteudo Atual: {{ conteudoAtual }}</div>
            <div>Conteudo Salvo: {{ conteudoSalvo }}</div>

            <br><br>
            <span 
            (mouseover)="onMouseSpan()"
            (mouseout)="onMouseSpan()"
            [class.highlight]="isMouseOver"
            >
                Passe o mouse sobre mim!
            </span>
        </div>
    </article>
</section> 

<section class="two-way-binding">
    <article>
        <h3>Two-way data binding</h3>
        <div>
            <input type="text"
                [value]="nome"
                (input)="nome = $event.target.value"
            />

            <input type="text"
                [ngModel]="nome"
                (ngModelChange)="nome = $event"
            />

            <input type="text"
                [(ngModel)]="nome"
            />

            <input type="text"
                bindon-ngModel="nome"
            />
            <p> Você digitou {{ nome }}</p>
        </div>
        <div>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade
            <input type="text"
                [(ngModel)]="pessoa.nome"
            />
            <input type="text"
                [(ngModel)]="pessoa.idade"
            />

            
        </div>
    </article>
</section>

<section class="input-properties">
    <article>
        <h3>Input/Output Properties</h3>

        <curso [nome]="nomeCurso"> </curso>

        <contador [valor]="valorInicial"
        (eventoMudouValor)="onValorMudou($event)"></contador>
    </article>
</section>
